<!-- Horizontal Elements Section -->
<section id="HorizontalElements" class="container content-section text-center alt-bkg">
    <div class="row">
        <div class="col-lg-2"></div>
        <!--<div class="col-lg-8 col-lg-offset-2">-->
        <div class="col-lg-8">
            <h2>Horizontal Elements</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class='vert-element'>
        <h3>Note the Alternate Background</h3>
        <p class='sub-header'><a target='_blank' href='http://github.com'>Another Link</a> | <i>Add the alt-bkg class to "section"</i></p>
        <ul>
          <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
          <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></li>
        </ul>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class='vert-element'>
        <h3>A horizontal Element</h3>
        <p class='sub-header'><a target='_blank' href='http://github.com'>With a descriptive link</a> | <i>further details</i></p>
        <ul>
          <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
          <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></li>
        </ul>
      </div>
      </div>
      <div class="col-lg-2"></div>
    </div>


</section>
