<!-- Vertical Elements Section -->
<section id="VerticalElements" class="container content-section text-center alt-bkg">
    <div class="row">
        <div class="col-lg-2"></div>
        <!--<div class="col-lg-8 col-lg-offset-2">-->
        <div class="col-lg-8">
            <h2>Vertical Elements</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class='vert-element'>
        <h3>Note the Alternate Background</h3>
        <p class='sub-header'><a target='_blank' href='http://github.com'>Another Link</a> | <i>Additional Info Here</i></p>
        <ul>
          <li><p>To have the alternate background color for your section, just add the <code>.alt-bkg</code> class to the <code>section</code> element</p></li>
          <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></li>
        </ul>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class='vert-element'>
        <h3>A vertical Element</h3>
        <p class='sub-header'><a target='_blank' href='http://github.com'>With a descriptive link</a> | <i>further details</i></p>
        <ul>
          <li><p>Just include the <code>.vert-element></code> got the <code>div</code> inside of a bootstrap <code>col...</code></p></li>
          <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></li>
        </ul>
      </div>
      </div>
      <div class="col-lg-2"></div>
    </div>


</section>
